os161/toolbuild.tgz
os161_doc/
.bash_history
.bash_logout
.bashrc
bin/
.cache/
.codeblocks/
.compiz/
.config/
.dbus/
.ddd/
Desktop/
.dmrc
Documents/
Downloads/
.eclipse/
.emacs.d/
examples.desktop
.gconf/
.gdbinit
.gnome2/
.gnome2_private/
.ICEauthority
.local/
.mozilla/
Music/
Pictures/
.profile
Public/
.ssh/
.swt/
Templates/
.vboxclient-clipboard.pid
.vboxclient-display.pid
.vboxclient-draganddrop.pid
.vboxclient-seamless.pid
Videos/
workspace/
.Xauthority
.xinputrc
.xsession-errors
.xsession-errors.old
